body{
    font-family: 'Cabin', sans-serif;
	background:url("bg.jpg") no-repeat center center fixed;
	background-size:cover;

}
.qtxt{
  font-size:50px;
}
@media (max-width:576px) {
    .qtxt{
       font-size:25px;
}
}
@media (min-width:576px)  {
  .btnId{
    font-size: 32px;
  }
}
.answerDecoration{
	font-size:32px; 
}